html,body,.app{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.app{
    background-image: url('./250title.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 3.333rem;
}
.app .content{
    height: 1rem;
    line-height: 1rem;
    background-color: #4682b452;
    border-radius: 5px;
    font-size: .8rem;
}